body {
    background: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
   text-align: center;
   transition: opacity 1s, transform 1s;
   cursor: pointer;
}
.box1 {
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    content: "✔️";
    
    transition: transform 1s;
}
.box1:hover {
    content-visibility: visible;
    transform: scale(2);
    content: ">>";
}
h4:hover {
    opacity: 0.5;
}
.box2 {
    background: url(photo.jpg) center no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid grey;
    transition: transform 2s ease-in;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(159, 158, 158, 0), rgba(128, 128, 128, 0.11));
}
.box2:hover {
    transform: rotate(360deg) scale(1.1);
    filter: blur(5px);
    -webkit-box-reflect, opacity: 0;
}
.box3 {
    border: 4px solid coral;
    display: inline-block;
    margin-top: 30px;
    padding: 20px 20px;
    transition: opacity 1s, background 1s;
    opacity: 0.8;
}
.box3:hover {
    opacity: 1;
    background: coral;
    color: white;
    border-radius: 5px;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(128, 128, 128, 0),rgba(128, 128, 128, 0.341) );
}
.box4 {
    background: url(workers.jpg) center no-repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-bottom: 200px;
    -webkit-box-reflect: below 5px linear-gradient(to top, rgba(128, 128, 128, 0.077), rgba(128, 128, 128, 0.038));

}
.box5 {
    background: url(workers.jpg) center no-repeat;
    width: 200px;
    height: 200px;
    border-radius: ;
    margin-top: 10px;
    margin-bottom: 200px;
    -webkit-box-reflect: right 2px;
}
.box6 {
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    clear: both;
    display: table;
    object-fit: cover;
}
