:root {
    --grey: grey;
    --alice: rgb(255, 255, 255);
}
body {
    background: var(--neutral);
    --neutral: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}
.jumbotron {
    background: var(--orange);
    --orange: orange;
    margin-top: 30px;
}
.page-header {
    border: 3px solid orange;
}
.page-header:hover {
    box-shadow: 0px 2px 2px 5px var(--orange);
    --orange: orange;
}
.well:hover {
    box-shadow: 2px 1px 1px 3px var(--grey);
}