body {
    background: var(--alice);
    --alice: rgb(255, 255, 255);
}
:root {
    --dodge: dodgerblue;
    --dodge: dodgerblue;
}
[class*="col"] {
    background: orange;
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu {
    text-align: center;
}
.margin-left {
    margin-left: 20px;
}
.height {
    
}
mark {
    border-radius: 4px;
    background: var(--grey);
    --grey: wh
    color: white;
    margin: 5px;
}
abbr {
    text-decoration: underline;
    background-color: white;
}
.image {
    border-radius: 100%;
    float: left;
    border: 2px solid grey;
}
.image:hover {
    border-color: rgb(201, 189, 189);
}
pre {
    color: red;
}
