body {
    background: aliceblue;
}

.image-flex {
    display: flex;
    margin: 10px;
    flex-flow: row nowrap;
}
.image-flex > .column {
    margin: 10px;
}

.text {
    background: orange;
    display: flex;
    flex-flow: row nowrap;
    
}