:root {
    --white: white;
    --blue: blue;
    --orange: orange;
    --dodge: dodgerblue;
    --grey: grey;
    --font: 1em;
    --family: arial;
    --alice: aliceblue;
}

* {
    box-sizing: border-box;
}
div.email {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
div.email li a {
    color: black;
    text-decoration: none;
}
@media screen and (min-width: 3000px) {
     div.email li a:before {
    content: "Email: "; 
  }
}