:root {
    --alice: aliceblue;
    --orange: orange;
    --blue: blue;
    --red: red;
    --white: white;
    --black: black;
    --dodge: dodgerblue;
    --family: lucida;
}
body {
    background: var(--alice);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box;
}
.header {
    background: var(--dodge);
    padding: 24px;
}
.nav ul {
    list-style-type: none;
    padding: 4px;
}
.nav li {
    background: var(--dodge);
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.nav li:hover {
    background: var(--dodge);
    --dodge: rgb(2, 95, 188);
}
div.aside {
    background: var(--dodge);
    padding: 20px;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.footer {
    background: var(--dodge);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}