:root {
    --alice: aliceblue;
    --orange: orange;
    --blue: blue;
    --red: red;
    --white: white;
    --black: black;
    --dodge: dodgerblue;
    --family: lucida;
}
body {
    background: var(--alice);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media screen and (min-width: 800px) {
     /* For Desktop: */
     .col-m-1 {width: 8.33%;}
     .col-m-2 {width: 16.66%;}
     .col-m-3 {width: 25%;}
     .col-m-4 {width: 33.33%;}
     .col-m-5 {width: 41.66%;}
     .col-m-6 {width: 50%;}
     .col-m-7 {width: 58.33%;}
     .col-m-8 {width: 66.66%;}
     .col-m-9 {width: 75%;}
     .col-m-10 {width: 83.33%;}
     .col-m-11 {width: 91.66%;}
     .col-m-12 {width: 100%;}
}
 [class*="col-m"] {
    float: left;
    padding: 15px;
 }
.header {
    background: var(--dodge);
    padding: 15px;
}
.side1, .side2 {
    background: var(--dodge);
    padding: 8px;
    margin-top: 20px;
}
.footer {
    background: var(--dodge);
    padding: 8px;
    margin-top: 800px;
    text-align: center;
}